@import "./../../assets/styles/mixin/mixin.scss";
@import "./../../assets/styles/varibles/varibles.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

header {
  font-family: "Roboto";
  position: relative;
  .header-upp {
    background-color: $primary-color;
    width: 100%;
    padding: 15px;
    .containerr {
      @include d-f(space-between, center);
      width: 95%;

      ul {
        @include d-f(flex-end, center);
        gap: 25px;
        margin: 0px;
        li {
          color: $secondary-color;
          font-size: 14px;
          svg {
            width: 14px;
            height: 14px;
          }
        }

        .line {
          background-color: $secondary-color;
          height: 10px;
          width: 1px;
        }
      }

      .left-sect {
        li {
          @include d-f(center, center);
          gap: 10px;
          svg {
            width: 13px;
            height: 13px;
          }
        }
      }
    }
  }

  nav {
    width: 100%;
    background: rgba(35, 35, 35, 0.6);
    position: absolute;
    z-index: 30;
    .containerr {
      padding: 20px 40px;
      @include d-f(space-between, center);
      margin: 0px;

      .logo {
        margin: 0px;
      }

      .mobile-menu-wrapper {
        display: none;
        margin: 0px;
      }
      .mobile-menu-bar {
        margin: 0px;
        svg {
          width: 24px;
          height: 20px;
        }
        display: none;
      }

      .mobile-logo-wrapper {
        margin: auto;
        margin-left: 60px !important;
        display: none;
      }
      .mobile-logo {
        // margin: 0px;
        width: 94px;
        height: 24px;
        object-fit: cover;
        overflow: hidden;
        display: none;
        img {
          width: 100%;
          height: 100%;
          overflow: hidden;
        }
      }

      ul {
        @include d-f(space-between, center);
        gap: 30px;
        margin: 0px;
        li {
          color: white;
          font-size: 16px;
          position: relative;
          font-weight: 700;
          &:hover {
            color: $base-color;
          }
          &:hover svg {
            color: $base-color !important;
          }
          svg {
            width: 12px;
            height: 12px;
          }

          .menu-dropdown {
            background-color: $basic-color;
            padding: 25px 30px;
            border-radius: 15px;
            border: 1px solid lightgray;
            position: absolute;
            left: 0px;
            z-index: 12;
            min-width: 170px;
            height: auto;
            display: none;
            li {
              color: #232323;
              font-size: 14px;
              margin-bottom: 15px;
              cursor: pointer;
            }
          }
        }
        .hotel-list-item:hover {
          .hotel-menu-dropdown {
            display: block;
            bottom: -200px;
          }
        }
        .tour-list-item:hover {
          .tour-menu-dropdown {
            display: block;
            bottom: -316px;
          }
        }
        .activity-list-item:hover {
          .activity-menu-dropdown {
            display: block;
            bottom: -250px;
          }
        }
        .rental-list-item:hover {
          .rental-menu-dropdown {
            display: block;
            bottom: -185px;
          }
        }
        .car-list-item:hover {
          .car-menu-dropdown {
            display: block;
            bottom: -170px;
          }
        }
        .pages-list-item:hover {
          .pages-menu-dropdown {
            display: block;
            bottom: -299px;
          }
        }
      }

      .nav-buttonss {
        @include d-f(space-between, center);
        gap: 10px;
        margin: 0px;

        button {
          border-radius: 50%;
          width: 44px;
          height: 44px;
          background-color: white;
          border: 1px solid lightgray;
          @include d-f(center, center);

          svg {
            width: 20px;
            height: 20px;
            margin: 0px;
          }
        }
      }
    }
  }

  .dropdown-menu {
    background-color: $basic-color;
    padding: 25px 30px;
    border-radius: 15px;
    border: 1px solid lightgray;
    position: absolute;
    bottom: -304px;
    right: 40px;
    z-index: 12;
    li {
      color: #232323;
      font-size: 14px;
      margin-bottom: 15px;
    }
    .user-img-name {
      @include d-f(flex-start, center);
      gap: 5px;
      .user-img-wrapper {
        width: 45px;
        height: 45px;
        object-fit: cover;
        overflow: hidden;
        border-radius: 50%;
        img {
          width: 100%;
          height: 100%;
          overflow: hidden;
        }
      }
      p {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        color: black;
        text-align: left;
        margin: 0px;
      }
    }
    .log-out {
      margin: 0px;
      margin-top: 15px;
    }
  }
  .basket-wrapper {

    background-color: $basic-color;
    padding: 25px 30px;
    border-radius: 15px;
    border: 1px solid lightgray;
    position: absolute;
    top: 98px;
    right: -200px;
    z-index: 34;
    margin: 0px;
    transform: translate3d(-276px, 46px, 0px);
    min-width: 320px;

    h2{
      font-size: 23px;
      border-bottom: 1px solid #DEDEDE;
      padding-bottom: 20px;
      margin-bottom: 20px;
      font-weight: 500;
    }
p{
  color: #ffc107!important;
  font-size: 18px;
  font-weight: 500;
}

  }
}
.mobile-nav-wrapper {
  font-family: "Roboto";
  margin: 0px;
  .mobile-nav-header {
    background-color: #f5f5f5;
    padding: 20px 9px;
    svg {
      width: 14px;
      height: 14px;
      cursor: pointer;
    }
  }
  .mobile-nav-content {
    padding: 0px 20px;
    ul {
      @include d-f(space-between, flex-start);
      flex-direction: column;
      margin: 0px;
      a {
        margin: 0px;
        width: 100%;
      }
      li {
        color: $primary-color;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 20px;
        margin: 0px;
        cursor: pointer;
        border-bottom: 1px solid #dedede;
        width: 100%;
        padding: 15px 0px;
        &:hover {
          h4 {
            color: $base-color;
          }
        }
        &:hover svg {
          color: $base-color !important;
        }
        svg {
          width: 12px;
          height: 12px;
          position: absolute;
          right: 20px;
        }
      }
      .menu-dropdown {
        background-color: $basic-color;
        padding: 3px 10px;
        border: none;
        height: auto;
        display: none;
        width: 100%;
        li {
          color: #232323;
          font-size: 16px;
          font-weight: 400;
          text-transform: capitalize;
          width: 100%;
          &:hover{
            color: $base-color;
          }
      a{
        width: 100%;
      }
        }
      }
    }
  }
}

.ant-modal-content {
  padding: 0px !important;
}
.modal-header-sect {
  @include d-f(center, center);
  gap: 40px;
  padding: 30px;
  li {
    font-size: 16px;
    color: #1a232b;
    margin: 0px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  header {
    .header-upp {
      display: none;
    }
    nav {
      .containerr {
        .mobile-logo-wrapper {
          margin-left: 0px !important;
          margin: 0px;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  header {
    nav {
      position: relative;
      background-color: $basic-color !important;
      .containerr {
        .logo {
          display: none;
        }

        .mobile-menu-wrapper{
          display: block;
        }
        .mobile-menu-bar {
          display: block;
        }
       .mobile-logo-wrapper{
         display: block;
      }
        .mobile-logo {
          display: block;
        }

        ul {
          display: none;
        }

        .nav-buttonss {
          gap: 0px;
          button {
            border: none;
            padding: 0px;
            margin: 0px;
          }

          .usd {
            display: none;
          }
        }
      }
    }

    .dropdown-menu {
      position: absolute;
      bottom: -208px;
      right: 40px;
    }

    .basket-wrapper{
      bottom: -25px;
    }
  }
}
