@import "./../../assets/styles/mixin/mixin.scss";
@import "./../../assets/styles/varibles/varibles.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");




.sign-up-section{
    width: 100%;
    z-index: 31;
    .containerr{
        padding: 0px 30px 30px 30px;
       width: 100%;
h1{
    margin: 20px 0px 30px 0px;
}
.inp{
    margin-bottom: 20px;
    padding: 10px 16px;
}
.ant-radio-group.ant-radio-group-outline.css-dev-only-do-not-override-1b0bdye{
    margin-bottom: 15px;
 
}
.inp-label{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #5E6D77;
}
.login-btn{
    width: 100%;
    padding: 10px 13px;
    font-size: 16px;
    height: auto;
    box-sizing: border-box;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-top: 5px;
}
.login-footer{
    @include d-f(space-between,center);
    p{
        font-size: 16px;
        color: #232323;
        margin: 0px;
        text-decoration: underline;
    &:hover{
        color:$base-color;
    }
    }
    .login-checkbox{
        margin: 0px;
    }
    label{
        color: #5e6d77;
        font-size: 16px;
    }
}

.sign-up-error{
    width: 100%;
    background-color: #f8d7da;
    padding: 9px 15px;
    border-radius: 5px;
    margin-top: 18px;
    display: none;
p{
    color: rgb(99, 16, 16);
    font-size: 15px;
    text-align: center;
}
}


.sign-up-succes{
    width: 100%;
    background-color: #d1eddd;
    padding: 9px 15px;
    border-radius: 5px;
    margin-top: 18px;
    display: none;
p{
    color: #203329;
    font-size: 15px;
    text-align: center;
}
}
}


}
